@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#8d7a7a41;
  --foreground: #a99a9a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.gra{
  color: transparent;
background-clip: text;
background-image: linear-gradient(to right, #218bff, #c084fc, #db2777);
}
